body{
  background:pink;
  color: white;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-weight:200;
  font-size: 40px;
}
img {
  padding:10px;
  border:5px white solid;
  margin:2.5px;
}
.right {
  float:right;
  margin:auto;
}
.left {
  float:left;
  margin:auto;
}
.column {
 width:70%;
 margin:auto;
}
